---
import Image from "astro/components/Image.astro";
import myPhoto from "/public/foto.jpeg";
---

<section id="about" class="about">
  <Image class="photo" src={myPhoto} alt="Mi foto" width={300} format="jpeg" />
  <div class="about-container">
    <h1 class="about-title">Sobre mi</h1>
    <div class="about-description">
      <p>
        Soy un apasionado de la tecnología y las computadoras, lo que me llevó a
        estudiar ingeniería en software. En mi tiempo libre, disfruto de
        escuchar música, ir al gimnasio, ver anime y leer tanto libros como
        mangas.
        <br />
        <br />
        También disfruto mucho de jugar videojuegos. Estas actividades me permiten
        relajarme y mantener un equilibrio entre el estudio y el ocio.
      </p>
    </div>
  </div>
</section>

<style>
  .photo {
    border-radius: 5px;
    box-shadow: -15px 12px 0px 0px #30496B;
    max-width: 100%;
    height: auto;
  }

  .about {
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: 4rem auto;
    align-items: center;
    max-width: 60rem;
    gap: 2rem;
    min-height: 50vh;
    padding: 0 1rem;
  }

  .about-container {
    display: flex;
    flex-direction: column;
  }

  .about-title {
    font-size: 2.5rem;
    color: #9bb7d4;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }

  .about-description {
    font-size: 1.2rem;
    color: #e6f1ff;
    text-align: justify;
  }

  @media (max-width: 768px) {
    .about {
      flex-direction: column;
      text-align: center;
    }

    .about-title {
      font-size: 2rem;
    }

    .about-description {
      font-size: 1rem;
    }
  }

  @media (max-width: 480px) {
    .about {
      margin: 2rem auto;
    }

    .about-title {
      font-size: 1.5rem;
    }

    .about-description {
      font-size: 0.9rem;
    }
  }
</style>
