---

---
<section id="about" class="about">

    <h2 class="about-title">Sobre mi</h2>
    <div class="about-description">
      <p>
        Soy un apasionado de la tecnología y las computadoras, lo que me 
        llevó a estudiar ingeniería en software. En mi tiempo libre, disfruto de 
        escuchar música, ir al gimnasio, ver anime y leer tanto libros como mangas. 
        <br>
        También me encanta jugar videojuegos. Estas actividades me permiten relajarme 
        y mantener un equilibrio entre el trabajo y el ocio.
      </p>
    </div>

  </section>