---
// Props para personalizar el botón
export interface Props {
  text: string;
  href: string;
  icon?: string; 
  type?: "primary" | "secondary"; 
}

const mainBackground = "#12192b";
const secondaryBackground = "#1e2a47";
const buttonLinkColor = "#30496b"; //color de boton
const buttonLinkHoverColor = "#456a8d"; //color de boton hover
const mainTextColor = "#e6f1ff"; //Texto principal
const highlightTextColor = "#9bb7d4"; //Texto destacado o títulos:

const { text, href, icon, type } = Astro.props;
---
<a href={href} target="_blank" rel="noopener noreferrer" class={`button ${type || "primary"}`}>
  {icon && <img src={icon} alt={`${text} icon`} class="button-icon" />}
  {text}
</a>

<style>
  .button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.8rem 1.5rem;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    border: 2px solid transparent;
    border-color: #9bb7d430;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  }

  .button.primary {
    background-color: #30496B; /* Azul para LinkedIn */
    color: #E6F1FF;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  }

  .button.primary:hover {
    background-color: #456A8D;
    transform: scale(1.025);
  }
  }

  .button.primary:hover {
    background-color: #456A8D;
  }

  .button.secondary {
    background-color: #333; /* Gris oscuro para GitHub */
    color: #fff;
  }

  .button.secondary:hover {
    background-color: #444;
  }

  .button-icon {
    width: 1rem;
    height: 1rem;
  }
</style>