---
import ProjectCard from "../components/project.card.astro";

export const projects = [
  {
    title: "Pimeva Chat",
    description:
      "Sistema de chat en tiempo real para creado para una empresa portuaria de mi ciudad.",
    technologies: ["React", "Java", "Springbot", "MongoDB"],
    images: [
      "/projects/chatpimeva/loginpimeva.webp",
      "/projects/chatpimeva/iniciopimeva.webp",
      "/projects/chatpimeva/chatpimeva.webp",
      "/projects/chatpimeva/contactospimeva.webp",
    ],
    repository: "https://github.com/diegovq12/Pimeva-Chat",
  },
  {
    title: "Currency Converter",
    description:
      "Aplicación de consola que obtiene tasas de cambio en tiempo real utilizando una API para convertir monedas de manera eficiente.",
    technologies: ["Java", "Springbot"],
    images: ["./public/exchange.webp"],
    repository: "https://github.com/diegovq12/Conversor-De-Monedas",
  },
  {
    title: "Cooking Hub",
    description:
      "Aplicación multiplataforma que permite al usuario hablar con un chatbot y pedirle recetas con ingredientes específicos, de alguna temporada o país. Permite crear tu lista de compras, encontrar los mercados más cercanos a tu ubicación y obtener el precio aproximado de tu lista de compras.",
    technologies: ["Flutter", "Dart", "MongoDB"],
    images: [
      "./projects/cookinghub/Pantalla-Inicial-1.webp",
      "./projects/cookinghub/IniciarSesion.webp",
      "./projects/cookinghub/Mensajes.webp",
      "./projects/cookinghub/Recetas2.webp",
    ],
    repository: "https://github.com/diegovq12/CookingHub",
  },
];
---

<section id="proyectos" class="proyectos">
  <h2 class="proyectos-title">Proyectos</h2>
  <div class="proyectos-description">
    <p>
      Proyectos en los que he trabajado tanto para la escuela como para
      desarrollar mis habilidades de programacion.
    </p>
  </div>
  <div class="project-list">
    {projects.map((project) => <ProjectCard {...project} />)}
  </div>
</section>

<style>
  #proyectos {
    min-height: 90vh;
  }

  .proyectos {
    padding: 5rem 1rem;
    background-color: #12192b;
    /* min-width: 250px; */
  }

  .proyectos-title {
    margin-top: 2rem;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2.5rem;
    color: #fff;
  }

  .proyectos-description {
    margin: 1.25rem;
    margin-bottom: 3rem;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    margin-bottom: 2rem;
    color: #9bb7d4;
    font-size: 1.25rem;
    text-align: center;
    text-wrap: pretty;
  }
  .project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0 auto;
    justify-content: center;
  }

  .project-list > :nth-child(odd) {
    align-selff: flex-end;
  }

  .project-list > :nth-child(even) {
    align-self: flex-start;
  }
</style>
