---
import ProjectCard from "../components/project.card.astro";

export const projects = [
  {
    title: "Pimeva Chat",
    description:
      "Sistema de chat en tiempo real para creado para una empresa portuaria de mi ciudad.",
    technologies: ["React", "Node.js", "MongoDB"],
    images: [
      "./projects/loginpimeva.webp",
      "./projects/iniciopimeva.webp",
      "./projects/chatpimeva.webp",
      "./projects/contactospimeva.webp",
    ],
  },
  {
    title: "E-Commerce App",
    description:
      "Plataforma de comercio electrónico con pasarela de pago integrada.",
    technologies: ["React", "Node.js", "MongoDB"],
    images: [
      "./projects/loginpimeva.webp",
      "./projects/iniciopimeva.webp",
      "./projects/chatpimeva.webp",
      "./projects/contactospimeva.webp",
    ],
  },
  {
    title: "E-Commerce App",
    description:
      "Plataforma de comercio electrónico con pasarela de pago integrada.",
    technologies: ["React", "Node.js", "MongoDB"],
    images: [
      "./projects/loginpimeva.webp",
      "./projects/iniciopimeva.webp",
      "./projects/chatpimeva.webp",
      "./projects/contactospimeva.webp",
    ],
  },
];
---

<section id="proyectos" class="proyectos">
  <h2 class="section-title">Proyectos</h2>
  <div class="project-list">
    {projects.map((project) => <ProjectCard {...project} />)}
  </div>
</section>

<style>

  #proyectos{
    min-height: 90vh;
  }

  .proyectos {
    padding: 5rem 1rem;
    background-color: #12192b;
  }

  .section-title {
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    margin-bottom: 2rem;
    color: #9bb7d4;
  }

  .project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    /* max-width: 1200px; */
    margin: 0 auto;
    justify-content: center;
  }
</style>
