---
import ProjectCard from "../components/project.card.astro";

export const projects = [
  {
    title: "Pimeva Chat",
    description:
      "Sistema de chat en tiempo real para creado para una empresa portuaria de mi ciudad.",
    technologies: ["React", "Node.js", "MongoDB"],
    images: [
      "./projects/loginpimeva.webp",
      "./projects/iniciopimeva.webp",
      "./projects/chatpimeva.webp",
      "./projects/contactospimeva.webp",
    ],
    repository:"https://github.com/diegovq12/Pimeva-Chat"
  },
  {
    title: "Currency Converter",
    description:
      "Console application that fetches real-time exchange rates using an API to convert currencies efficiently. ",
    technologies: ["Java", "Springbot"],
    images: [
      "./projects/loginpimeva.webp",
    ],
    repository:"https://github.com/diegovq12/Conversor-De-Monedas"
  },
  {
    title: "Cooking Hub",
    description:
      "Plataforma de comercio electrónico con pasarela de pago integrada.",
    technologies: ["Flutter", "Dart", "MongoDB"],
    images: [
      "./projects/loginpimeva.webp",
      "./projects/iniciopimeva.webp",
      "./projects/chatpimeva.webp",
      "./projects/contactospimeva.webp",
    ],
    repository:"https://github.com/diegovq12/CookingHub"
  },
];
---

<section id="proyectos" class="proyectos">
  <h2 class="proyectos-title">Proyectos</h2>
  <div class="proyectos-description">
    <p>
      Proyectos en los que he trabajado tanto para la escuela 
      como para desarrollar mis habilidades de programacion.
    </p>
  </div>
  <div class="project-list">
    {projects.map((project) => <ProjectCard {...project} />)}
  </div>

</section>

<style>

  #proyectos{
    min-height: 90vh;
  }

  .proyectos {
    padding: 5rem 1rem;
    background-color: #12192b;
  }

  .proyectos-title {
    margin-top: 2rem ;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2.5rem;
    color: #fff;
  }

  .proyectos-description{
    margin: 1.25rem;
    margin-bottom: 3rem;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    margin-bottom: 2rem;
    color: #9bb7d4;
    font-size: 1.25rem;
    text-align: center;
    text-wrap: pretty;
    
  }
  .project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    /* max-width: 1200px; */
    margin: 0 auto;
    justify-content: center;
  }
</style>
